<!DOCTYPE HTML>
 <html lang="ja">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
      <title></title>
      <link rel="stylesheet" type="text/css" href="./style.css" />
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <style type="text/css">
      <!--
     
      -->
      </style>
   </head>
   <body>

      <script type="text/javascript">
      //<![CDATA[

      //]]>
      </script>
   </body>
</html>
